# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=1.4.0=pypi_0
appdirs=1.4.4=pypi_0
asttokens=3.0.0=pypi_0
astunparse=1.6.3=pypi_0
attrs=25.3.0=pypi_0
bzip2=1.0.8=h5eee18b_6
c-ares=1.34.5=hb9d3cd8_0
ca-certificates=2025.4.26=hbd8a1cb_0
cachetools=5.5.2=pypi_0
casefy=1.1.0=pypi_0
certifi=2025.4.26=pyhd8ed1ab_0
charset-normalizer=3.4.2=pypi_0
chex=0.1.6=pypi_0
click=8.2.1=pypi_0
cloudpickle=3.1.1=pypi_0
colorama=0.4.6=pypi_0
commonmark=0.9.1=pypi_0
contourpy=1.3.2=pypi_0
cycler=0.12.1=pypi_0
decorator=4.4.2=pypi_0
dm-control=1.0.11=pypi_0
dm-env=1.6=pypi_0
dm-tree=0.1.9=pypi_0
dmcgym=0.0.1=dev_0
docker-pycreds=0.4.0=pypi_0
etils=1.12.2=pypi_0
exceptiongroup=1.3.0=pypi_0
executing=2.2.0=pypi_0
farama-notifications=0.0.4=pypi_0
filterpy=1.4.5=pypi_0
flatbuffers=25.2.10=pypi_0
flax=0.5.3=pypi_0
fonttools=4.58.1=pypi_0
fsspec=2025.5.1=pypi_0
gast=0.4.0=pypi_0
gitdb=4.0.12=pypi_0
gitpython=3.1.44=pypi_0
glfw=2.5.6=pypi_0
google-auth=2.40.2=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.71.0=pypi_0
gym=0.23.1=pypi_0
gym-notices=0.0.8=pypi_0
gymnasium=0.28.1=pypi_0
h5py=3.13.0=pypi_0
idna=3.10=pypi_0
imageio=2.25.1=pypi_0
imageio-ffmpeg=0.4.8=pypi_0
importlib-resources=6.5.2=pypi_0
ipdb=0.13.13=pypi_0
ipython=8.36.0=pypi_0
jax=0.3.25=pyhd8ed1ab_0
jax-jumpy=1.0.0=pypi_0
jaxlib=0.3.25=cpu_py310hdc47304_1
jedi=0.19.2=pypi_0
jinja2=3.1.6=pypi_0
keras=2.11.0=pypi_0
kiwisolver=1.4.8=pypi_0
labmaze=1.0.6=pypi_0
lazy-loader=0.4=pypi_0
ld_impl_linux-64=2.40=h12ee557_0
libabseil=20220623.0=cxx17_h05df665_6
libblas=3.9.0=31_h59b9bed_openblas
libcblas=3.9.0=31_he106b2a_openblas
libclang=18.1.1=pypi_0
libffi=3.4.4=h6a678d5_1
libgcc=15.1.0=h767d61c_2
libgcc-ng=15.1.0=h69a702a_2
libgfortran=15.1.0=h69a702a_2
libgfortran5=15.1.0=hcea5267_2
libgomp=15.1.0=h767d61c_2
libgrpc=1.51.1=h4fad500_1
liblapack=3.9.0=31_h7ac8fdf_openblas
libopenblas=0.3.29=pthreads_h94d23a6_0
libprotobuf=3.21.12=hfc55251_2
libstdcxx=15.1.0=h8f9b012_2
libstdcxx-ng=15.1.0=h4852527_2
libuuid=1.41.5=h5eee18b_0
libzlib=1.2.13=h4ab18f5_6
llvmlite=0.43.0=pypi_0
lxml=5.4.0=pypi_0
markdown=3.8=pypi_0
markupsafe=3.0.2=pypi_0
matplotlib=3.10.3=pypi_0
matplotlib-inline=0.1.7=pypi_0
ml-collections=1.1.0=pypi_0
ml-dtypes=0.5.1=pypi_0
moviepy=1.0.3=pypi_0
msgpack=1.1.0=pypi_0
mujoco=2.3.3=pypi_0
mujoco-utils=0.0.5=pypi_0
mypy-extensions=1.1.0=pypi_0
natsort=8.2.0=pypi_0
ncurses=6.4=h6a678d5_0
networkx=3.4.2=pypi_0
numba=0.60.0=pypi_0
numpy=1.23.5=pypi_0
oauthlib=3.2.2=pypi_0
opencv-python=4.11.0.86=pypi_0
openssl=3.5.0=h7b32b05_1
opt_einsum=3.4.0=pyhd8ed1ab_1
optax=0.1.4=pypi_0
packaging=25.0=pypi_0
pandas=2.0.0=pypi_0
parso=0.8.4=pypi_0
pathtools=0.1.2=pypi_0
pexpect=4.9.0=pypi_0
pillow=11.2.1=pypi_0
pip=25.1=pyhc872135_2
proglog=0.1.12=pypi_0
prompt-toolkit=3.0.51=pypi_0
protobuf=3.19.6=pypi_0
psutil=5.9.5=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.3=pypi_0
pyasn1=0.6.1=pypi_0
pyasn1-modules=0.4.2=pypi_0
pygame=2.3.0=pypi_0
pygments=2.19.1=pypi_0
pyopengl=3.1.9=pypi_0
pyparsing=3.2.3=pypi_0
pyserde=0.10.7=pypi_0
python=3.10.16=he870216_1
python-dateutil=2.9.0.post0=pypi_0
python_abi=3.10=2_cp310
pytz=2025.2=pypi_0
pywavelets=1.8.0=pypi_0
pyyaml=6.0.2=pypi_0
rail-unified-walker=0.0.1=dev_0
re2=2023.02.01=hcb278e6_0
readline=8.2=h5eee18b_0
requests=2.32.3=pypi_0
requests-oauthlib=2.0.0=pypi_0
rich=11.2.0=pypi_0
rsa=4.9.1=pypi_0
scikit-image=0.20.0=pypi_0
scipy=1.12.0=pypi_0
sentry-sdk=2.29.1=pypi_0
setproctitle=1.3.6=pypi_0
setuptools=78.1.1=py310h06a4308_0
shimmy=1.3.0=pypi_0
six=1.17.0=pypi_0
smmap=5.0.2=pypi_0
sqlite=3.45.3=h5eee18b_0
stack-data=0.6.3=pypi_0
tensorboard=2.11.2=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorflow=2.11.0=pypi_0
tensorflow-estimator=2.11.0=pypi_0
tensorflow-io-gcs-filesystem=0.37.1=pypi_0
tensorflow-probability=0.19.0=pypi_0
tensorstore=0.1.75=pypi_0
termcolor=3.1.0=pypi_0
tifffile=2025.5.10=pypi_0
tk=8.6.14=h39e8969_0
tomli=2.2.1=pypi_0
toolz=1.0.0=pypi_0
tqdm=4.64.1=pypi_0
traitlets=5.14.3=pypi_0
transforms3d=0.4.2=pypi_0
typing-inspect=0.9.0=pypi_0
typing_extensions=4.13.2=pyh29332c3_0
tzdata=2025.2=pypi_0
urllib3=2.4.0=pypi_0
wandb=0.14.2=pypi_0
wcwidth=0.2.13=pypi_0
werkzeug=3.1.3=pypi_0
wheel=0.45.1=py310h06a4308_0
wrapt=1.17.2=pypi_0
xz=5.6.4=h5eee18b_1
zipp=3.22.0=pypi_0
zlib=1.2.13=h4ab18f5_6
